WebContent/wsdl/CheckLog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://web" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://web" xmlns:intf="http://web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://web" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="CheckForLogin">
    <complexType/>
   </element>
   <element name="CheckForLoginResponse">
    <complexType>
     <sequence>
      <element name="CheckForLoginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="CheckForPassword">
    <complexType/>
   </element>
   <element name="CheckForPasswordResponse">
    <complexType>
     <sequence>
      <element name="CheckForPasswordReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="CheckForPasswordResponse">

      <wsdl:part element="impl:CheckForPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CheckForPasswordRequest">

      <wsdl:part element="impl:CheckForPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CheckForLoginResponse">

      <wsdl:part element="impl:CheckForLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CheckForLoginRequest">

      <wsdl:part element="impl:CheckForLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CheckLog">

      <wsdl:operation name="CheckForLogin">

         <wsdl:input message="impl:CheckForLoginRequest" name="CheckForLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:CheckForLoginResponse" name="CheckForLoginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CheckForPassword">

         <wsdl:input message="impl:CheckForPasswordRequest" name="CheckForPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:CheckForPasswordResponse" name="CheckForPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CheckLogSoapBinding" type="impl:CheckLog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="CheckForLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CheckForLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="CheckForLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CheckForPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CheckForPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="CheckForPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CheckLogService">

      <wsdl:port binding="impl:CheckLogSoapBinding" name="CheckLog">

         <wsdlsoap:address location="http://localhost:8080/Starting/services/CheckLog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
